.home {
  background: #FCF9FF;
  min-height: 100vh;
}

/* layout */
.layout {
  display: flex;
  width: 100%;
}

/* content (right side) */
.content {
  width: 80%;
  padding: 30px;
}

/* reset */
h1, h2, p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.twodivs{
  display: flex;
  gap: 20px ;
  
}